{% extends 'blogs/base.html' %}

{% block content %}

{% load static %}



<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
              <div class="breadcrumb-text">
                  <p>Get 24/7 Support</p>
                  <h1>Register</h1>
              </div>
          </div>
      </div>
  </div>
</div>

<br/>
<!--<h1 style = "text-align: center;"> Register User</h1>-->
<div class ="col-md-6 offset-md-3">
<form method = 'POST' action = "#">

    {% csrf_token %}

    {{ form.as_p }}
    <div style = "text-align:center;">
    <button type="subtmit" class="btn btn-success">Register</button>
    </div>
    <br/> <br/>
    <div style = "text-align:center;">
    <small class="text-muted">
        Already a member? <a class = "ml-2" href ="{% url 'login' %}">Login</a>
      </small>
    </div>
</form>
</div>


{% endblock %}