{% extends 'blogs/base.html' %}

{% block content %}

{% load static %}
<br/>
<h1 style = "text-align: center;"> Register User</h1>
<div class ="col-md-6 offset-md-3">
<form method = 'POST' action = "#">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="subtmit" class="btn btn-primary">Register</button>

    <br/> <br/>
    <div style = "text-align:center;">
    <small class="text-muted">
        Already a member? <a class = "ml-2" href ="{% url 'login' %}">Login</a>
      </small>
    </div>
</form>
</div>


{% endblock %}